/* @charset "UTF-8"; */



html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.429;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}


body {
    background: #edf0f1;
    height: 97%;
    width: 99%;
    position: relative;
}

#root {
    height: 100%;
}

/*-----------------------------header----------------------------------*/
.header {
    width: 100%;
    height: 80px;
    background-color: steelblue;
    box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__title {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
}

.header_login{
    width: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.header_login img{
    width: 80%;
}
.header_login:hover{
    box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15);
}
.header_login:active{
    box-shadow: inset -8px -8px 0px 4px rgba(46, 62, 80, 0.15);
}
.header_name{
    font-size: 14px;
}
/*------------------------main-------------------------------*/

.main {
    /* max-width: 1920px; */
    height: calc(100% - 120px);;
    display: flex;
    justify-content: center;
}

.list {
    border: 2px solid steelblue;
    box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15);
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content{
    flex: 1 1 auto;
    position: relative;

}
.content__sort{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}
.content__sort img {
    width: 20px;
}
.todo-control{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: steelblue;
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
    border-radius: 10px;
    padding: 5px;
}

.todo-control__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #ffff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px 25px 25px 5px;
    border: 0;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.todo-control__button {
    width: 50px;
    height: 50px;
    background: transparent url("./plus.png") no-repeat center/cover;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    border-radius: 25px;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.todo-control__button:hover{
	background-size: 110%;
}

.content__title{
    font-family: 'Pacifico', cursive;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-item {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;

    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
}

.list-compl{
    background-color: #74d590;
}

.list-active{
    background-color: #BFC1C5;
}

.actives{
	border: 2px solid black;
	/* box-shadow: inset 2px -1px 14px 13px rgba(0, 0, 0, 0.1); */
}

.todo-item:last-of-type {
    margin: 0;
}

.todo-item__title{
    display: flex;
    align-items: center;

}
.text-todo{
    display: inline-block;
    width: 100%;
}

.text-through {
    text-decoration: line-through;
}

.todo-status {
    background-color: red;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.fast{
    background-color: transparent;
    border: 1px solid steelblue;
}
.todo-buttons {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.todo-date{
    margin-right: 50px;
}
.todo-buttons button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.todo-buttons .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;

    position: absolute;
    top: 10px;
    left: 0;
}

.todo-remove {
    background-image: url("./trash.png");
}

.todo-remove:hover {
	background-size: 70%;
}

.todo-complete{
    padding-top: 5px;
}

.todo-complete img:hover {
	width: 90%;
}

.-left{
    cursor: pointer;
}
.list-left__control{
    margin-right: 20px;
}
/*/////////////////////////////////////////////////////////////////modal*/
.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(44, 62, 80, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.oveflow{
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 12px 2px #444;
    position: relative;
}
.modal__title{
    flex: 1 1 auto;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}
.modal__close{
    cursor: pointer;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 0;
}
.modal__button {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn{
    font-size: 26px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-color: steelblue; 
    box-shadow: -2px 1px 5px 0px rgb(31 32 33 / 10%);
    margin-right: 10px;
}
.btn:last-child{
    margin-right: 0;
}
.btn:hover {
    background-color: steelblue;
    box-shadow: inset -3px -3px 0px 4px rgb(31 32 33 / 10%);

}
.unblock{
    display: none;
}
.todo-btn{
    display: flex;
}
/*---------------------------------list-left----------------------------------*/

.list-left {
    width: 600px;
}


.content__filter{
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-weight: 500;
    width: 80%;
    min-height: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    border: 2px solid black;
}

@media only screen and (max-width: 1024px) {
	.main{
		height: calc(100% - 80px);
		position: relative;
		overflow: hidden;
		width: 95%;
	}

	.nav__burger{
		display: block !important;
	}

	.list-right{
		position: absolute;
		left: 0;
		right: 0;
		z-index: 31;
		background-color: #f9f9f9;
		height: calc(100% - 40px);
		width: auto!important;
	}

    .list-left {
		width: auto;
        position: absolute;
		background-color: #f9f9f9;
		z-index: 30;
		height: calc(100% - 40px);
		left: 0;   
	}
	
    .right_filter{
        display: block !important;
	}
	
    .content__title {
        height: 60px;
	}
	
    .content__sort{
    	right: 20px;
}
}
@media only screen and (max-width: 726px) {
    /* .content__filter{
        width: 150px;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
    } */
    .content__title {
        height: 60px;
    }
    /* .content__sort{
        width: 150px;
    top: 5px;
    right: 0;
	} */
}
@media only screen and (max-width: 580px) {
    .header_login{
        right: 10px;
    }
     .content__title {
        height: 60px !important;
        align-items: flex-start;
        visibility: hidden;
    }
    /* .content__filter{
       margin-right: 10px;
    } */
    .content__title {
        height: 60px;
    }
    .content__sort{
        width: 35px;
        height: 35px;
        top: 0;
     
    }
  .control{
    flex-direction: column;
    align-items: flex-start !important;

  }
  .control__form {
    width: 100% !important;
    margin-right: 0 !important;
    margin: 20px 0;
    order: 2;
    }
    .sort__title{
        display: none;
    }
    .todo-buttons{
        flex-direction: column;
    }
    .todo-date {
        margin-right: 20px;
    }
    .todo-item {
        min-height: 80px;
    }
    .list-right__control{
        flex-direction:column-reverse;
    }
}
/*---------------------------------list-right----------------------------------*/
.right_filter{
    display: none;
}
.list-right {
    width: 1200px;
}

.list-right__control{
    display: flex;
    align-items: center;

}

.control__form{
    width: 80%;
    margin-right: 30px;
}

.status__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.status__input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.status__title{
    font-size: 28px;
    font-family: 'Pacifico', cursive;

}
.status__input+label::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

}
.status__input:checked+label::before {
  border-color: #0b76ef;
  background-color: transparent;
  background-image: url("./01.png");
  background-size: 150%;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
.inscription{
    padding: 10px;
    background-color: rgba(255, 255, 115, 0.2);
    color: #A6A600;
    box-shadow: inset 3px -1px 14px 3px rgba(46, 62, 80, 0.15);
    text-align: center;
}

.relative{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.relative img {
    width: 100%;
}

.authoriz {
    width: 600px;
    /* border: 2px solid steelblue; */
    /* box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15); */
    height: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*  */
    
}

.authoriz__main{
    margin-bottom: 100px;
    text-align: center;
}

.authoriz__form {
    width: 300px;
    /* min-height: 300px; */
    border: 2px solid steelblue;
    box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
    margin-bottom: 150px;
    /* align-items: center; */
}

.authoriz__title {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}


.input-authoriz{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid steelblue;
    margin-bottom: 10px;
}

.authoriz__form{
    display: flex;
}
.authoriz__button{
    margin-top: 30px;
    margin-right: 20px;
}

.btn-authoriz{
    min-width: 100px;
    height: 30px;
    border: 1px solid steelblue;
    box-shadow: inset -5px 4px 7px 0px rgba(46, 62, 80, 0.15);
    cursor: pointer;
    margin-bottom: 30px;
}
.btn-authoriz:hover{
    box-shadow: -3px -1px 2px 2px rgba(46, 62, 80, 0.15);
}

.authoriz__achor{
    color:  steelblue;
    text-decoration: underline;
}

.input-authoriz-required{
    color: red;
}

.message-auth{
    background-color: #fc9803;
    padding: 5px;
    color: #804e05;
    font-size: 12px;

}

  
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}
  
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
  
.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid steelblue;
}
  
.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid steelblue;
}
  
.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid steelblue;
}
  
@keyframes rotate-one {
    0% {
    	transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
    	transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

.loader-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.loader__title{
    position: absolute;
    top:0;
    width: 100%;
    height: 80px;
    background-color: steelblue;
    box-shadow: -14px 2px 4px 5px rgba(46, 62, 80, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__title-title{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-align: center;
}



/* //////////////////////////////////////////////////////////////// */
.nav__burger{
	cursor: pointer;
    display: none;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.nav__burger span{
    display: block;
    width: 30px;
    height: 2px; 
    position: relative;
    background-color: black;
    margin-top: 7px;
}

/* ///////////////////////////////////////////////////////////// */
.animation-right{
	animation: list-right 0.7s forwards ease-out;
}

.animation-left{
	animation: list-left 0.7s forwards ease-out;
}

@keyframes list-left {
    0% {
    	left:470px;
		right:-470px;
    }
    100% {
    	left:0;
    }
}

@keyframes list-right {
    0% {
    	left:0;
    }
    100% {
    	left:470px;
		right:-470px;
    }
}